.hero{
    background: linear-gradient(to bottom, rgba(26,71,137,1) 39%,rgba(109,187,217,1) 100%);
    height: 90vh;
    display: flex;
   
    align-items: center;
    .hero-inner{
        position: relative;
    }
    
    

    &::after{
        content:'';
        position: absolute;
        right: 0;
        top: 0;
        width: 200px;
        height: 200px;
        // background-color: red;
        background-image: url(../img/hero/hero-logo.svg);
        background-repeat: no-repeat;
        z-index: 11;
    }
    
    .hero-text-area{
        padding: 40px 50px;
        @include respond-above(sm){
            max-width: 400px;
            margin-right: 100px;
        }
        @include respond-above(xl){
            max-width: 700px;
            margin-right: 144px;
        }
        *{
            color : white;
        }
    }
    .hero-img-area{
        img{
            @include respond-above(sm){
                max-width: 400px;
                
            }
            @include respond-above(xl){
                max-width: 615px;
                
            }
        }
        
    }
}