.hero{
    background-color: $primary-color;
    height: 90vh;
    .hero-text-area{
        @include respond-above(sm){
            max-width: 400px;
        }
        @include respond-above(xl){
            max-width: 700px;
        }
        h1,p{
            color : white;
        }
    }
}