h1{
    font-weight: $font-bold;
    @include respond-above(sm){
        font-size: 35px;
        line-height: 50px;
        
    }
    @include respond-above(xl){
        line-height: 70px;
        font-size: 50px;
        
    }
}