.icon-info-section{
    margin-top: 80px;
    @include respond-above(xl){
        margin: 100px;
    }
    .icon-info-column{
        .icon{
            width: 75px;
            height: 75px;
            
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: rgba($secondary-color, 0.05);
            @include respond-above(xl){
                width: 85px;
                height: 85px;
                
                border-radius: 50%;
            }
        }
    }
}