h1{
    font-weight: $font-bold;
    @include respond-above(sm){
        font-size: 35px;
        line-height: 50px;    
    }
    @include respond-above(xl){
        line-height: 70px;
        font-size: 50px;   
    }
}

h2, .title{
    font-weight: $font-bold;
    color: $primary-color;
    font-size: 40px;   
}

p{
    color: $text-color;
}