$primary-color : #072753;
$primary-color-light: #1B498A;
$secondary-color : #FF9C00;
$text-color: #28384E;
$primary-font :'HelveticaNeue','sans-serif','arial';
$font-bold : bold;
$font-500 : 500;
$font-normal : normal;

