@font-face {
  font-family: "HelveticaNeue";
  src: url("../fonts/HelveticaNeueLTW1G-Bd.woff2") format("woff2"), url("../fonts/HelveticaNeueLTW1G-Bd.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "HelveticaNeue";
  src: url("../fonts/HelveticaNeueLTW1G-Md.woff2") format("woff2"), url("../fonts/HelveticaNeueLTW1G-Md.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "HelveticaNeue";
  src: url("../fonts/HelveticaNeueLTW1G-Roman.woff2") format("woff2"), url("../fonts/HelveticaNeueLTW1G-Roman.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
h1 {
  font-weight: bold;
}
@media (min-width: 640px) {
  h1 {
    font-size: 35px;
    line-height: 50px;
  }
}
@media (min-width: 1600px) {
  h1 {
    line-height: 70px;
    font-size: 50px;
  }
}

h2, .title {
  font-weight: bold;
  color: #072753;
  font-size: 32px;
}
@media (min-width: 1600px) {
  h2, .title {
    font-size: 40px;
  }
}

h3 {
  font-size: 20px;
  color: #072753;
}

p {
  color: #28384E;
}

html {
  font-family: "HelveticaNeue", "sans-serif", "arial";
  font-weight: normal;
  font-size: 14px;
  line-height: 25px;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a, a:hover {
  text-decoration: none;
}

.uk-flex {
  flex-direction: column;
}
@media (min-width: 640px) {
  .uk-flex {
    flex-direction: row;
  }
}

.section-title {
  max-width: 650px;
  margin: 0 auto 50px;
}
@media (min-width: 1600px) {
  .section-title {
    max-width: 700px;
    margin: 0 auto 60px;
  }
}

.primary-btn {
  transition: color ease 0.3s;
  font-size: 13px;
  color: white;
  display: inline-block;
  background: #FF9C00;
  padding: 12px 25px;
  border-radius: 5px;
}
@media (min-width: 1600px) {
  .primary-btn {
    padding: 5px 10px;
  }
}
@media (min-width: 1600px) {
  .primary-btn {
    font-size: 15px;
  }
}
.primary-btn:hover {
  color: #072753 !important;
}

.secondary-btn {
  font-size: 14px;
  color: #1B498A;
  text-transform: capitalize;
  position: relative;
  transition: color ease 0.3s;
}
@media (min-width: 1600px) {
  .secondary-btn {
    font-size: 15px;
  }
}
.secondary-btn:after {
  content: "";
  background: url(../img/icons/Right-arrow.svg) no-repeat center;
  position: absolute;
  right: 0;
  width: 12px;
  height: 7px;
  top: 0;
  bottom: 0;
  margin: auto;
  transform: translateX(20px);
  transition: transform ease 0.3s;
}
.secondary-btn:hover {
  color: #FF9C00;
}
.secondary-btn:hover:after {
  transform: translateX(25px);
}

header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
}
@media (min-width: 640px) {
  header .uk-flex {
    height: 70px;
  }
}
@media (min-width: 1600px) {
  header .uk-flex {
    height: 148px;
  }
}
header .logo {
  transform: translateY(-25px);
}
@media (min-width: 640px) {
  header .logo {
    max-width: 100px;
  }
}
@media (min-width: 1600px) {
  header .logo {
    max-width: 259px;
  }
}
@media (max-width: 639px) {
  header .logo {
    max-width: 70px;
    transform: translateY(-25px);
  }
}
header .logo .img {
  width: 100%;
}
@media (min-width: 640px) {
  header .navbar ul {
    display: flex;
  }
}
header .navbar ul li {
  margin: 0 20px;
}
header .navbar ul li:hover a {
  color: #FF9C00;
}
header .navbar ul li a {
  transition: color ease 0.3s;
}
@media (min-width: 1600px) {
  header .navbar ul li a {
    font-size: 15px;
    color: white;
  }
}
@media (min-width: 640px) {
  header .navbar ul li a {
    font-size: 13px;
    color: white;
  }
}

body {
  overflow-x: hidden;
}

.hero {
  background: linear-gradient(to bottom, rgb(26, 71, 137) 39%, rgb(109, 187, 217) 100%);
  height: 90vh;
}
.hero:after {
  content: "";
  width: 102%;
  height: 80px;
  background-color: white;
  height: 80px;
  position: absolute;
  bottom: 0;
  left: -3px;
  right: 0;
  transform: rotateZ(357deg) translate(-5px, 10px);
  z-index: 11;
  transform-origin: left center;
}
@media (max-width: 639px) {
  .hero:after {
    bottom: 27px;
  }
}
.hero .hero-inner {
  position: relative;
  height: inherit;
  width: 100%;
  display: flex;
  align-items: center;
}
.hero .hero-inner:after {
  content: "";
  position: absolute;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  opacity: 0.2;
  background-image: url(../img/hero/hero-logo.svg), url(../img/hero/hero-logo.svg), url(../img/hero/hero-logo.svg);
  background-position: right -45px, 50px 90%, 55% 83%;
  background-size: 135px, 80px, 130px;
  background-repeat: no-repeat;
  z-index: 0;
}
@media (min-width: 1600px) {
  .hero .hero-inner:after {
    background-size: 195px, 110px, 195px;
  }
}
.hero .hero-text-area {
  padding: 40px 50px;
  position: relative;
  z-index: 1;
}
@media (min-width: 1600px) {
  .hero .hero-text-area {
    max-width: 700px;
    margin-right: 144px;
  }
}
.hero .hero-text-area * {
  color: white;
}
@media (min-width: 640px) {
  .hero .hero-img-area img {
    max-width: 400px;
  }
}
@media (min-width: 1600px) {
  .hero .hero-img-area img {
    max-width: 615px;
  }
}

.icon-info-section {
  margin: 60px 0;
}
@media (min-width: 640px) {
  .icon-info-section {
    margin: 80px 0;
  }
}
@media (min-width: 1600px) {
  .icon-info-section {
    margin: 100px 0;
  }
}
.icon-info-section .icon-info-column .icon {
  width: 75px;
  height: 75px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 156, 0, 0.05);
  margin-bottom: 18px;
}
@media (min-width: 1600px) {
  .icon-info-section .icon-info-column .icon {
    width: 85px;
    height: 85px;
    border-radius: 50%;
  }
}
.icon-info-section .icon-info-column .info {
  margin-top: 18px;
  max-width: 300px;
}
@media (min-width: 1600px) {
  .icon-info-section .icon-info-column .info {
    max-width: 332px;
  }
}

.image-info-section {
  margin: 120px 0;
}
@media (min-width: 640px) {
  .image-info-section {
    margin: 60px 0;
  }
}
.image-info-section .info {
  max-width: 475px;
}
@media (min-width: 1600px) {
  .image-info-section .info {
    max-width: 552;
  }
}
.image-info-section .info .primary-btn {
  margin-top: 30px;
}
@media (min-width: 1600px) {
  .image-info-section .info .primary-btn {
    margin-top: 45px;
  }
}/*# sourceMappingURL=main.css.map */